/* Apply the handwriting font to the entire page, including list items */
body, h2, h3, p, a, input, select, textarea, .btn, .businessName, li {
    font-family: 'Caveat', cursive;
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding-top: 70px; 
    min-height: 100vh; 
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    font-size: 150%;
}

/* Keyframes for up-and-down animation */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* The businessName and nav placement */
.header .businessName {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    font-size: 200%; 
}


/* Make the nav visible on hover */
.header:hover .nav,
.nav:hover {
    display: flex;
}

/* Initially hide the nav */
.nav {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 50px; 
    left: 0px; 
    background-color: #333;
    width: auto; 
    padding: 10px 5px;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.nav a {
    width: 250px; 
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s ;
}

.nav a:hover,
.nav a.active {
    background-color: #ff6347; 
}

/* Style the menu icon */
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

#menu-icon:hover {
    transform: scale(1.2); 
    color: #ff6347; 
}

/* Show nav when active */
.nav.active {
    display: flex;
}

/* Home section styles */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #ffebcd;
    flex: 1; 
}

.home-content {
    flex: 1;
    padding-right: 50px;
}

.home h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.home p {
    font-size: 25px;
    margin-bottom: 20px;
}

.home .social-media a {
    color: #333;
    font-size: 45px;
    margin-right: 15px;
    text-decoration: none;
}

.social-media a {
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
    transform: scale(1.2) rotate(360deg); /* Makes the icon grow slightly */
    color: #ff4500; /* Change the color when hovered */
}


.home .home-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: moveUpDown 2s ease-in-out infinite;
}

/* About section styles */
.about {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #fff;
    flex: 1; 
}

.about-img img {
    max-width: 350%;
    height: auto;
    border-radius: 10px;
    animation: moveUpDown 2s ease-in-out infinite;
}

.about-content {
    max-width: 1500px;
    width: 100%;
    padding-left: 250px;
    padding-right: 200px;
} 

.heading {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
    color: #ff6347;
}

.about-content h3 {
    text-align: left;
    font-size: 35px;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.about-content .btn {
    font-size: 30px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
}

.about-content .btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Products section styles */
.products {
    padding: 20px 20px;
    background-color: #f4f4f4;
    flex: 1; /* Ensure products section fills available space */
}

.products-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.product-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    animation: moveUpDown 2s ease-in-out infinite;
}

.product-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 20px;
    margin-bottom: 15px;
}

.product-box .btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 30px;
}

.product-box .btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Order section styles */
.order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #f4f4f4;
    flex: 1; 
}

.order-container {
    display: flex;
    max-width: 1000px; 
    width: 100%;
    gap: 60px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: auto;
}

.order-form {
    flex: 1;
}

.order-info {
    flex: 1.2;
}

.order .heading {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.input-box input,
.input-box select,
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

textarea {
    resize: vertical;
}

.btn {
    padding: 15px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Info Section Styles */
.order-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.order-info ul {
    list-style: none;
    margin-bottom: 20px;
}

.order-info ul li {
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 85%;
}

.order-info p {
    font-size: 14px;
    color: #555;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Ensure footer stays at the bottom */
}

/* Slideshow Styles */
.slides {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    top: 0;
    left: 0;
    display: none;
}

.slides.fade-out {
    opacity: 0.3; 
}

.slides.fade-in {
    opacity: 1; 
}

/* Blog Section Styles */
.blog-container {
    padding: 40px 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    max-width: 1200px;
    margin: auto;
}

.blog-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post-content {
    flex: 1;
    padding-right: 20px;
}

.blog-post-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ff6347;
}

.blog-post-content .date {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}

.blog-summary {
    max-height: 150px;
    overflow: hidden;
    font-size: 25px;
}

.blog-full-content {
    display: none;
    font-size: 25px;
}

.read-more {
    display: inline-block;
    margin-top: 15px;
    color: #ff6347;
    text-decoration: none;
    cursor: pointer;
}

.read-more:hover {
    text-decoration: underline;
}

/* Slideshow adjustments */
.slides {
    width: 750px;
    height: auto;
    border-radius: 10px;
    margin: auto;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #333;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

/* Button Group for Yes and No Buttons */
.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

/* Modal buttons */
.modal .btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-top: 20px; 
}

.modal .btn:hover {
    background-color: #e55337;
}

/* Confirmation Modal styles */
.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Tooltip Styles */
.tooltip {
    position: absolute;
    top: 50px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1001;
    display: none;
    pointer-events: none;
    opacity: 0;
    border: 2px solid #ff6347;
    transition: opacity 0.5s ease-in-out;
}

/* Tooltip arrow pointing to the menu icon */
.tooltip::after {
    content: '';
    position: absolute;
    top: -25px; 
    left: 7px; 
    margin-left: -5px; /* Offset to align the arrow with the tooltip */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ff6347 transparent; 
}

.tooltip.show {
    display: block;
    opacity: 1;
}

