/* Apply the handwriting font to all elements */
body,
h2,
h3,
p,
a,
input,
select,
textarea,
.btn,
.businessName,
li {
    font-family: 'Caveat', cursive;
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding-top: 70px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    font-size: 150%;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Animation keyframes for up-and-down movement */
@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/* Business name styling in header */
.header .businessName {
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
}

/* Show navigation on hover */
.header:hover .nav,
.nav:hover {
    display: flex;
}

/* Hide navigation initially */
.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #333;
    padding: 10px 5px;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation item styles */
.nav a {
    width: 250px;
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

/* Navigation item hover effect */
.nav a:hover,
.nav a.active {
    background-color: #ff6347;
}

/* Menu icon styling */
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

/* Menu icon hover effect */
#menu-icon:hover {
    transform: scale(1.2);
    color: #ff6347;
}

/* Display navigation when active */
.nav.active {
    display: flex;
}

/* Responsive styles for screens smaller than 1920px */
@media (max-width: 1920px) {
    .header {
        font-size: 130%;
        padding: 5px 15px;
    }

    .header .businessName {
        font-size: 180%;
    }

    .footer {
        padding: 15px;
        font-size: 90%;
    }

    .nav {
        padding: 5px 0;
    }

    .nav a {
        padding: 8px 15px;
        font-size: 90%;
    }

    #menu-icon {
        font-size: 25px;
    }
}

/* Home section styles */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #ffebcd;
    flex: auto;
    min-height: 95vh;
    flex-wrap: wrap;
}

/* Home content and image container styles */
.home-content {
    flex: 1;
    padding-right: 50px;
}

.home-img {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home image styling */
.home-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: moveUpDown 2s ease-in-out infinite;
}

/* Home text styling */
.home h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.home p {
    font-size: 25px;
    margin-bottom: 20px;
}

/* Social media icon styles */
.home .social-media a {
    color: #333;
    font-size: 45px;
    margin-right: 15px;
    text-decoration: none;
    margin-bottom: 25px;
}

.social-media a {
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

/* Social media icon hover effect */
.social-media a:hover {
    transform: scale(1.2) rotate(360deg);
    color: #ff4500;
}

/* Responsive styles for smaller screens */
@media (max-width: 1770px) {
    .home {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        min-height: auto;
    }

    .home-img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .home-content {
        padding: 0;
        text-align: center;
        max-width: 90%;
    }

    .home h3 {
        order: -1;
        font-size: 28px;
    }

    .home p {
        font-size: 18px;
    }

    .home .social-media a {
        font-size: 30px;
    }
}

/* About section styles */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #fff;
    flex: 1;
}

/* About section image styles */
.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: moveUpDown 2s ease-in-out infinite;
}

/* About content styles */
.about-content {
    max-width: 1600px;
    width: 50%;
    padding-left: 50px;
    padding-right: 100px;
}

/* Heading styles */
.heading {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
    color: #ff6347;
}

/* Subheading styles */
.about-content h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Paragraph styles */
.about-content p {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Button styles */
.about-content .btn {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    margin-bottom: 45px;
}

/* Button hover effect */
.about-content .btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Responsive styles for screens smaller than 1920px */
@media (max-width: 1630px) {
    .about {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .heading,
    .about-content h3 {
        text-align: center;
        order: -2;
    }

    .heading {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .about-content h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .about-img {
        order: 1;
        margin-bottom: 20px;
        justify-content: center;
        max-width: 90%;
    }

    .about-img img {
        max-width: 60%;
        height: auto;
        display: block;
    }

    .about-content {
        padding: 0 10px;
        max-width: 150%;
        text-align: center;
        order: 0;
    }

    .about-content p {
        font-size: 18px;
    }

    .about-content .btn {
        font-size: 20px;
        padding: 8px 15px;
        width: 200px;
        margin: 0 auto 25px auto;
    }
}

/* Products section styles */
.products {
    padding: 20px 20px;
    background-color: #f4f4f4;
    flex: 1;
}

/* Product container styles */
.products-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Individual product box styles */
.product-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    animation: moveUpDown 2s ease-in-out infinite;
}

/* Product text styling */
.product-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Button styles in product box */
.product-box .btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 30px;
}

/* Button hover effect in product box */
.product-box .btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Gallery section styles */
.section-title {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 10px 20px;
    z-index: 1000;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: 900;
    font-size: 50px;
    color: #ff6347;
}

.gallery {
    padding: 40px 40px;
    background-color: #f4f4f4;
    flex: 1;
    margin-top: 10px;
}

/* Gallery container styling */
.gallery-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: calc(800vh - 1400px);
    padding-top: 20px;
    padding-bottom: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* 3D Carousel Gallery styles */
.gallery_box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 50000px;
    display: flow-root;
    justify-content: center;
    align-items: center;
}

.gallery_box_outer {
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    margin: auto;
}

.gallery_box_in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transform-style: preserve-3d;
}

/* Rotate and translate each gallery box element */
.gallery_box_in:nth-child(1) {
    transform: rotateY(0deg) translateZ(1450px);
}

.gallery_box_in:nth-child(2) {
    transform: rotateY(25.71deg) translateZ(1450px);
}

.gallery_box_in:nth-child(3) {
    transform: rotateY(51.42deg) translateZ(1450px);
}

.gallery_box_in:nth-child(4) {
    transform: rotateY(77.13deg) translateZ(1450px);
}

.gallery_box_in:nth-child(5) {
    transform: rotateY(102.84deg) translateZ(1450px);
}

.gallery_box_in:nth-child(6) {
    transform: rotateY(128.55deg) translateZ(1450px);
}

.gallery_box_in:nth-child(7) {
    transform: rotateY(154.26deg) translateZ(1450px);
}

.gallery_box_in:nth-child(8) {
    transform: rotateY(179.97deg) translateZ(1450px);
}

.gallery_box_in:nth-child(9) {
    transform: rotateY(205.68deg) translateZ(1450px);
}

.gallery_box_in:nth-child(10) {
    transform: rotateY(231.39deg) translateZ(1450px);
}

.gallery_box_in:nth-child(11) {
    transform: rotateY(257.1deg) translateZ(1450px);
}

.gallery_box_in:nth-child(12) {
    transform: rotateY(282.81deg) translateZ(1450px);
}

.gallery_box_in:nth-child(13) {
    transform: rotateY(308.52deg) translateZ(1450px);
}

.gallery_box_in:nth-child(14) {
    transform: rotateY(334.23deg) translateZ(1450px);
}

/* Responsive adjustments for gallery on smaller screens */
@media (max-width: 2049px) {
    .gallery_box_outer {
        width: 380px;
        height: 380px;
    }

    .section-title {
        top: 70px;
        font-size: 25px;
    }

    .gallery_box_in {
        transform: rotateY(0deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(2) {
        transform: rotateY(25.71deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(3) {
        transform: rotateY(51.42deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(4) {
        transform: rotateY(77.13deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(5) {
        transform: rotateY(102.84deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(6) {
        transform: rotateY(128.55deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(7) {
        transform: rotateY(154.26deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(8) {
        transform: rotateY(179.97deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(9) {
        transform: rotateY(205.68deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(10) {
        transform: rotateY(231.39deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(11) {
        transform: rotateY(257.1deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(12) {
        transform: rotateY(282.81deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(13) {
        transform: rotateY(308.52deg) translateZ(900px);
    }

    .gallery_box_in:nth-child(14) {
        transform: rotateY(334.23deg) translateZ(900px);
    }
}

/* Order section styles */
.order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #f4f4f4;
    flex: 1;
}

/* Order container styles */
.order-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 20px;
}

/* Info container for order and cakes */
.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

/* Info sections styling */
.order-info-left,
.order-info-right {
    width: 50%;
    text-align: left;
}

/* Form and image layout */
.form-image-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Form styles */
.order-form {
    flex: 1;
    max-width: 45%;
}

/* Order image styling */
.order-image {
    flex: 1;
    text-align: center;
    margin: auto;
    max-width: 50%;
    border-radius: 10px;
    margin-left: 40px;
}

.order-image img {
    width: 80%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

/* Privacy policy section styles */
.privacy-policy {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

/* Heading styles for order section */
.order .heading {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

/* Input box container styles */
.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

/* Input and textarea styles */
.input-box input,
.input-box select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

textarea {
    resize: vertical;
    height: 150px;
}

/* Button styles */
.btn {
    padding: 15px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Button hover effect */
.btn:hover {
    background-color: #e55337;
    transform: translateY(-10px);
}

/* Small button adjustments */
.btn.small-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
}

/* Button group styling within modal */
.modal-content .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Info section heading styles */
.order-info-left h3,
.order-info-right h3 {
    font-size: 22px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #333;
    margin-left: 30px;
}

/* List styling */
.order-info-left ul,
.order-info-right ul {
    list-style: none;
    margin-bottom: 1px;
}

.order-info-left ul li,
.order-info-right ul li {
    font-size: 22px;
    margin-bottom: 1px;
    max-width: 85%;
    text-align: justify;
}

.order-info p {
    font-size: 14px;
    color: #555;
}

/* Slideshow styles */
.slides {
    width: 750px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    opacity: 1;
    transition: opacity .1s ease-in-out;
    top: 0;
    left: 0;
    display: none;
}

.slides.fade-out {
    opacity: 0.1;
}

.slides.fade-in {
    transition: ease-in .3s;
    opacity: 1;
}

/* Blog section styles */
.blog-title h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2.5em;
    color: #333;
}

.blog-container {
    padding: 40px 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    max-width: 1200px;
    margin: auto;
}

/* Individual blog post styles */
.blog-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post-content {
    flex: 1;
    padding-right: 20px;
}

/* Blog post content heading styles */
.blog-post-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ff6347;
}

.blog-post-content .date {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}

/* Blog summary and full content styles */
.blog-summary {
    max-height: 150px;
    overflow: hidden;
    font-size: 25px;
}

.blog-full-content {
    display: none;
    font-size: 25px;
}

/* Read more link styles */
.read-more {
    display: inline-block;
    margin-top: 15px;
    color: #ff6347;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.read-more:hover {
    text-decoration: underline;
}

/* Modal background styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content styles */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

/* Button group styles in modal */
.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1001;
    display: none;
    pointer-events: none;
    opacity: 0;
    border: 2px solid #ff6347;
    transition: opacity 0.5s ease-in-out;
}

/* Tooltip arrow styling */
.tooltip::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 7px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ff6347 transparent;
}

.tooltip.show {
    display: block;
    opacity: 1;
}

/* CSS for fade effects on images */
.fade-out {
    opacity: 0.1;
    transition: opacity 0.2s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}